## Step 3 -  Predicting Heart Failure Death 

Load the saved model and perform prediction.

In [13]:
import pandas as pd
from pycaret.classification import *

In [14]:
df_predict = pd.read_csv("data/predict_dataset.csv")
print(df_predict.shape)
df_predict.head()

(10, 13)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,70.0,0,97,0,0.60,1,220000.0,0.9,138,1,0,186,0
1,60.0,1,754,1,0.40,1,328000.0,1.2,126,1,0,91,0
2,45.0,0,2442,1,0.30,0,334000.0,1.1,139,1,0,129,1
3,70.0,0,582,1,0.38,0,25100.0,1.1,140,1,0,246,0
4,52.0,0,190,1,0.38,0,382000.0,1.0,140,1,1,258,0

In [15]:
saved_rf = load_model("models/random_forest")

Transformation Pipeline and Model Successfully Loaded

In [16]:
predict_model(saved_rf, df_unseen)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,Label,Score
202,70.0,0,97,0,0.60,1,220000.00,0.90,138,1,0,186,0,0,0.5366
114,60.0,1,754,1,0.40,1,328000.00,1.20,126,1,0,91,0,0,0.5366
164,45.0,0,2442,1,0.30,0,334000.00,1.10,139,1,0,129,1,0,0.5366
277,70.0,0,582,1,0.38,0,25100.00,1.10,140,1,0,246,0,0,0.5366
292,52.0,0,190,1,0.38,0,382000.00,1.00,140,1,1,258,0,0,0.5366
266,55.0,0,1199,0,0.20,0,263358.03,1.83,134,1,1,241,1,0,0.5366
11,62.0,0,231,0,0.25,1,253000.00,0.90,140,1,1,10,1,1,0.5588
171,52.0,0,3966,0,0.40,0,325000.00,0.90,140,1,1,146,0,0,0.5366
238,65.0,1,720,1,0.40,0,257000.00,1.00,136,0,0,210,0,0,0.5366
263,68.0,1,157,1,0.60,0,208000.00,1.00,140,0,0,237,0,0,0.5366

# The End