# Heart Failure Death Prediction

*Data Source* - https://archive.ics.uci.edu/ml/datasets/Heart+failure+clinical+records#

*Features* - There are total thirteen (13) columns (clinical features):

- age: age of the patient (years)
- anaemia: decrease of red blood cells or hemoglobin (boolean)
- high blood pressure: if the patient has hypertension (boolean)
- creatinine phosphokinase (CPK): level of the CPK enzyme in the blood (mcg/L)
- diabetes: if the patient has diabetes (boolean)
- ejection fraction: percentage of blood leaving the heart at each contraction (percentage)
- platelets: platelets in the blood (kiloplatelets/mL)
- sex: woman or man (binary)
- serum creatinine: level of serum creatinine in the blood (mg/dL)
- serum sodium: level of serum sodium in the blood (mEq/L)
- smoking: if the patient smokes or not (boolean)
- time: follow-up period (days)
- death event (target/label): if the patient deceased during the follow-up period (boolean)

*Method* - We use PyCaret classification module to predict the DEATH_EVENT of heart failure.

*Reference* - https://www.pycaret.org/tutorials/html/CLF101.html

In [1]:
import pandas as pd
from pycaret.classification import *

import warnings
warnings.filterwarnings('ignore')

## Step 1 - Data Preparation

Check for null values and keep a small portion of data for prediction.

In [2]:
df = pd.read_csv("heart_failure_clinical_records_dataset.csv")

print(df.shape)
df.head()

(299, 13)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [3]:
df.isna().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [4]:
# Convert the ejection_fraction to decimal.

df["ejection_fraction"] = df["ejection_fraction"] / 100

df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,0.20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,0.38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,0.20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,0.20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,0.20,0,327000.00,2.7,116,0,0,8,1

In [5]:
# randomly select 10 observations for prediction using the learned model
# The remaining 289 observations are used for machine learning (training and testing)

df_unseen = df.sample(10, random_state=123)
df_learn = df.drop(df_unseen.index)

print(df_unseen.shape)
print(df_learn.shape)

(10, 13)
(289, 13)

## Step 2 - Model Training and Selection

This step also involve model evaluation and tuning.

In [6]:
s = setup(data=df_learn, silent=True, target="DEATH_EVENT",
    log_experiment=True, experiment_name="gold")

2022/05/20 16:01:09 INFO mlflow.tracking.fluent: Experiment with name 'gold' does not exist. Creating a new experiment.

In [7]:
best = compare_models()

In [8]:
model_rf = create_model("rf")

In [9]:
tuned_rf = tune_model(model_rf)

In [10]:
evaluate_model(tuned_rf)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [11]:
# Use the hold-out observations for testing the model

predict_model(tuned_rf)

,age,creatinine_phosphokinase,ejection_fraction,platelets,serum_creatinine,serum_sodium,time,anaemia_1,diabetes_1,high_blood_pressure_1,sex_1,smoking_1,DEATH_EVENT,Label,Score
0,68.0,577.0,0.25,166000.00000,1.00,138.0,43.0,1.0,0.0,1.0,1.0,0.0,1,1,0.7944
1,40.0,101.0,0.40,226000.00000,0.80,141.0,187.0,1.0,0.0,0.0,0.0,0.0,0,0,0.9574
2,60.0,2261.0,0.35,228000.00000,0.90,136.0,115.0,0.0,0.0,1.0,1.0,0.0,0,0,0.9432
3,50.0,54.0,0.40,279000.00000,0.80,141.0,250.0,1.0,0.0,0.0,1.0,0.0,0,0,0.9533
4,65.0,113.0,0.25,497000.00000,1.83,135.0,67.0,0.0,1.0,0.0,1.0,0.0,1,1,0.7589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,69.0,582.0,0.20,266000.00000,1.20,134.0,73.0,0.0,0.0,0.0,1.0,1.0,1,1,0.6407
83,75.0,582.0,0.45,263358.03125,1.18,137.0,87.0,0.0,0.0,1.0,1.0,0.0,0,0,0.7288
84,65.0,224.0,0.50,149000.00000,1.30,137.0,72.0,0.0,1.0,0.0,1.0,1.0,0,0,0.6431
85,50.0,159.0,0.30,302000.00000,1.20,138.0,29.0,1.0,1.0,0.0,0.0,0.0,0,1,0.8350
86,60.0,1896.0,0.25,365000.00000,2.10,144.0,172.0,0.0,1.0,0.0,0.0,0.0,1,0,0.5841

In [12]:
# Finalize the model

final_rf = finalize_model(tuned_rf)
print(final_rf)

/home/vscode/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/home/vscode/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/vscode/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)

RandomForestClassifier(bootstrap=False, ccp_alpha=0.0,
                       class_weight='balanced_subsample', criterion='entropy',
                       max_depth=5, max_features='log2', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0005,
                       min_impurity_split=None, min_samples_leaf=2,
                       min_samples_split=10, min_weight_fraction_leaf=0.0,
                       n_estimators=100, n_jobs=-1, oob_score=False,
                       random_state=328, verbose=0, warm_start=False)

In [13]:
# Test the finalized model on hold-out data
predict_model(final_rf);

## Step 3 - Perform Prediction

Use the finalized model to predict on unseen data.

In [14]:
unseen_predictions = predict_model(final_rf, data=df_unseen)
unseen_predictions

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,Label,Score
202,70.0,0,97,0,0.60,1,220000.00,0.90,138,1,0,186,0,0,0.8913
114,60.0,1,754,1,0.40,1,328000.00,1.20,126,1,0,91,0,0,0.6879
164,45.0,0,2442,1,0.30,0,334000.00,1.10,139,1,0,129,1,0,0.7671
277,70.0,0,582,1,0.38,0,25100.00,1.10,140,1,0,246,0,0,0.7983
292,52.0,0,190,1,0.38,0,382000.00,1.00,140,1,1,258,0,0,0.9075
266,55.0,0,1199,0,0.20,0,263358.03,1.83,134,1,1,241,1,1,0.5795
11,62.0,0,231,0,0.25,1,253000.00,0.90,140,1,1,10,1,1,0.8287
171,52.0,0,3966,0,0.40,0,325000.00,0.90,140,1,1,146,0,0,0.8681
238,65.0,1,720,1,0.40,0,257000.00,1.00,136,0,0,210,0,0,0.8770
263,68.0,1,157,1,0.60,0,208000.00,1.00,140,0,0,237,0,0,0.8468

## Step 4 - Saving the Model

Save the model for future deployment and operation.

In [15]:
save_model(final_rf,'gold-pipeline')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=[],
                                       target='DEATH_EVENT', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric...
                  RandomForestClassifier(bootstrap=False, ccp_alpha=0.0,
                                         class_weight='balanced_subsample',
                                         criterion='entropy', max_depth=5,
                                         max_features='log2',
                                         max_leaf_nodes=None, max_samples=None,
                                         min_impurity_decrease=0.0005,
                                         min_impurity_split=None,
                                         min_samples_leaf=2,
                                         min_samples_split=10,
                                         min_weight_fraction_leaf=0.0,
                                         n_estimators=100, n_jobs=-1,
                                         oob_score=False, random_state=328,
                                         verbose=0, warm_start=False)]],
          verbose=False),
 'gold-pipeline.pkl')

## Step 5 - Load and Prefdict

Load the saved model and perform prediction.

In [16]:
#saved_rf = load_model("gold-pipeline")

In [17]:
#predict_model(saved_rf, df_unseen)