# Step 1 - Data Preparation

This will preprocess texts for machine learning. 

*References*
- https://www.kaggle.com/code/nareshbhat/starter-guide-to-build-nlp-ml-model-in-pycaret/notebook

In [1]:
import pandas as pd
import preprocess

import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package stopwords to /home/cjwang/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/cjwang/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /home/cjwang/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [2]:
# Uncomment the following when preprocess.py is modified
# Alternatively, restart the kernel which will start the notebook from scratch

#import importlib
#importlib.reload(preprocess)

In [9]:
df_unfiltered = pd.read_csv("../data/prepared/train_vectorized_unfiltered.csv")

print(df_unfiltered.shape)

df_unfiltered.head()

(404, 41383)

,00,000,0000,000000,000031,00006,0001,000122,0002,00020,...,zoysn,zpsuam,zr,zsm0054,zyno,zyosn,zyrox,zyvox,zyvoxx,ºc
0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.006179,0.0,0.0,0.0,0.003313,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_y_train = pd.read_csv("../data/source/y_train.csv")
df_y_train.head()

   recall
0       0
1       0
2       0
3       0
4       0

In [14]:
# To avoid the possibility "recall" is one of the features

df_y_train.rename(columns={"recall":"RECALL"}, inplace=True)

In [15]:
df_combine = pd.concat([df_y_train, df_unfiltered], axis=1)
df_combine.head()

,RECALL,00,000,0000,000000,000031,00006,0001,000122,0002,...,zoysn,zpsuam,zr,zsm0054,zyno,zyosn,zyrox,zyvox,zyvoxx,ºc
0,0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0.006179,0.0,0.0,0.0,0.003313,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df_chi_squared = preprocess.chi_squared(df_combine, "RECALL", 0.5)

print(df_chi_squared.shape)

df_chi_squared.head(1).T

241
['hospira', 'queri', 'critic', 'personnel', 'known', 'roller', 'delay', 'repres', 'therapi', 'unspecifi', 'clinic', 'door', 'contact', 'biomed', 'though', 'info', 'whitescreen', 'iui', '44510', 'vial', 'e321', 'mmdg', 'devic', '11004', 'center', 'touchscreen', 'upon', 'track', 'pcu', 'test', 'charger', 'pin', 'clave', 'verif', 'timeout', 'note', 'program', 'concurr', 'hotlin', 'depart', 'recal', 'unrestrict', 'tank', 'america', 'cme', 'lithium', 'outlook', 'interm', 'provid', 'clutch', 'report', 'broken', 'engin', 'mainten', 'advers', 'field', 'facil', 'chemotherapeut', 'code', 'shield', 'length', 'triton', 'injector', 'multir', 'agent', 'tone', 'unsign', 'resum', 'taper', 'n180', 'pendant', 'optionlok', 'plum', 'fill', 's233', 'wing', 'alarm', 'le', 'cassett', 'volt', 'servic', 'prevent', 'distal', 'secondari', 'audibl', 'insulin', 'chondrolysi', 'attribut', 'pc', 'batteri', 'ultrasit', 'easypump', 'piggyback', 'polish', 'medfus', 'mode', 'paramet', 'shaft', 'infusor', 'addl', 'llicon', 'particl', 'ysite', 'n186', 'beeper', 'specif', 'modul', 'shoulder', 'incid', 'piezo', 'rptr', 'packag', 'solut', 'float', 'communic', 'lt', 'bodyguard', 'hyperbar', 'librari', 'breg', 'durat', 'tool', 'mdrreport', 'sound', 'raw', 'plumset', 'prong', 'enclosur', 'gemstar', 'llacon', '10050s', 'e301', 'proxim', 'leakag', 'ai', 'deliveri', 'third', 'blue', 'ctr', 'dimens', 'hl90', 'asreceiv', 'underdeliveri', 'parti', 's321', 'hardwar', 'user', 'diamet', 'zosyn', 'reassess', 'glenohumer', 'materi', 'surgeri', 'singleus', 'bladder', 'alter', '200mlhr', 'cap', 'warmer', 'fentanyl', 'error', 'closer', 'factori', 'fan', 'particul', 'request', 'lvp', 'mdr', 'artifici', 'microbor', 'transistor', 'volum', 'cone', 'reason', 'equip', 'e630', 'z18702011', 'result', 'lifescan', 'ultrason', 'k865060', 'stopper', 'deviat', 'walkm', 'hpca', 'cmea', 'ground', 'connector', 'dilaudid', 'silenc', 'plug', 'conclus', 'reprogram', 'brokencrack', 'drift', 'melt', 'unknown', 'fourier', 'abbott', 'temp', 'contribut', 'analysi', 'legaci', 'weight', 'auxiliari', 'biom', 'colleagu', '80frn', 'overpouch', 'hl390', 'window', 'ac', 'articular', 'loss', 'suggest', 'dept', 'spectroscopi', 'infrar', 'swollen', 'name', 'octob', 'deliv', 'ringer', 'overtemperaturepsc', '999', 'lactat', 'default', 'whether', 'caresit', 'transform', 'desferrioxamin', 'irrig', 'anesthesia', 'reprocess', 'recalibr', 'alari', 'diod', 'expect', 'press', 'sani', 'nut']
(404, 242)

             0
hospira    0.0
queri      0.0
critic     0.0
personnel  0.0
known      0.0
...        ...
expect     0.0
press      0.0
sani       0.0
nut        0.0
RECALL     0.0

[242 rows x 1 columns]

In [17]:
df_chi_squared.head()

,hospira,queri,critic,personnel,known,roller,delay,repres,therapi,unspecifi,...,anesthesia,reprocess,recalibr,alari,diod,expect,press,sani,nut,RECALL
0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0
1,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0
2,0.0,0.0,0.0,0.000000,0.004518,0.001562,0.003483,0.000000,0.010873,0.0,...,0.0,0.0,0.0,0.0,0.0,0.094718,0.00466,0.0,0.0,0
3,0.0,0.0,0.0,0.046421,0.016423,0.000000,0.000000,0.083814,0.007186,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0
4,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.163151,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000,0.0,0.0,0

In [18]:
df_chi_squared.drop(columns=["RECALL"]).to_csv("../data/prepared/train_chi_squared_p50.csv", index=False)

## The End.